@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.title{
    text-align: center;
    font-size: 2rem;
    font-family: arial;
    font-weight: bold;
    
}

.top {
    margin:0;
    padding:0;
    background-color: #086A87;
    overflow: hidden;
}

.nav {
    padding: 0;
    
}

.nav li{
    list-style-type: none;
    color: grey;
}

.nav a,
.nav a:link,
.nav a:visited {
    display:block;
    text-decoration: none;
    overflow: hidden;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
    background-color: grey;
    overflow: hidden;
}

.nav-current {
    background-color: white;
    overflow: hidden;
}

@media only screen and (min-width:20em) {
 
    .nav li {
        display:inline-block;
    }
    
    .nav {
        text-align: center;
    }
    
}
    
@media only screen and (min-width:40em) {
 
        .title {
            float:left;
        }
    
    .nav{
        float:left;
        position: relative;
        top:1rem;
    }

    
}

.greybar{
    background-color:#e2e2e2;
    margin-bottom: 1em;
    overflow: hidden;
}

.firstpara {
    text-align: center;
    overflow: hidden;
}

.titlebar {
    text-align: center;
    font-size: 4rem;
    font-style: bold;
    overflow: hidden;
}

.midgray{
    background-color: #e2e2e2;
    overflow: hidden;
}

.lightgray{
    background-color: #efefef;
    overflow: hidden;
}
    
footer {
    background-color:#086A87;
    color: white;
}

footer:a,{
    color: white;
    
}

u,{
    color: white;
    
}

.centeralign {
    text-align: center;
}

label{
    display: block;
}
    
input + label {
    display:inline-block;
}

input[type="name"],
input[type="email"],
input[type="number"] {
    width:100%;
    padding: .5rem;
    border: 1px solid #ccc; 
}

textarea {
    width:100%;
    padding:2rem;
    border: 1px solid #ccc;
}

button{
    text-align: center;
    border: 1px solid #ccc;
    background-color: #efefef;
    font-size: 1.5rem;
}

.button {
    text-align: center;
}

.radio {
    white-space: nowrap;
}

button:hover {
    background-color: pink;
    cursor: pointer;
    color: black;
}

button:active {
    background-color: red;
}

a
    
@media only screen and (min-width:60em) {
    
    html {
        font-size:110%;
    }
}

@media only screen and (min-width:90em) {
    
    html {
        font-size:120%;
    }
}

@media only screen and (min-width:120em) {
    
    html {
        font-size:130%;
    }
}